body {
	max-width: 100%;
	max-height: 100%;
	background-color: #fffff8;
}

#main {
	text-align: center;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	cursor: default;
	margin-top: 55px;
}

#homeBtn, #configBtn {
	position: absolute;
	top: 10px;
	font-size: 90%;
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	padding: 5px 8px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

#homeBtn {
	left: 10px;
}

#homeBtn:hover, #configBtn:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}


#exportBtnCon{
	top:10px;
	text-align: center;
}

#exportBtn{
	font-size: 90%;
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    padding: 5px 8px;
    border-radius: 4px;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

#exportBtn:hover {
    background-color: #31b0d5;
    border-color: #269abc;
}


#configBtn {
	right: 10px;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
}

th, td {
	text-align: center;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

th {
	background-color: #a6a997;
	color: white;
}

tr td:nth-child(3) {
	width: 50%;
}